sacred_exp/
exp/
data/models/tags_textbased_pred_1.joblib.gz
data/cache/
data/fulltext/
data/infos/
.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
/devops/*
credentials/